@model IEnumerable<RINTE_Care.Models.WeekDayClass>

@{
    ViewData["Title"] = "SelectWeekDay";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @Html.HiddenFor(modelItem => item.idWeekDay)
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Select", "SelectAvailability", new { idPatient = ViewBag.idPatient, idWeekDay=item.idWeekDay })
            </td>
        </tr>
}
    </tbody>
</table>
