
@{
    ViewData["Title"] = "Contacts";
}
<div>
    <h2 style="text-align:center;">Contacts</h2>
</div>
<p> </p>
<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Telephone</h5>
                <p class="card-text">Our assistant will happily assist you in our line 224890213.</p>
                <a href="tel:224890213" class="btn btn-primary">Call us now</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">Our support team can answer you in our mail rintecare@gmail.com.</p>
                <a href="mailto:rintecare@gmail.com" class="btn btn-primary">Email us now</a>
            </div>
        </div>
    </div>
</div>
<p> </p>
<div>
    <h2 style="text-align:center;">Social Media</h2>
</div>
<p> </p>
<hr />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="\assets\img\share.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Facebook</h5>
            <p class="card-text">Share your happy memory that you want to keep for lifetime with us on Facebook. We would love to know your happy journeys!</p>
            <div class="wrapper">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <h5 style="text-align:center;"><a href="http://www.facebook.com"><i class="fa fa-3x fa-facebook-square"></i></a></h5>
            </div>
        </div> 
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\linkedin.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text">Need the best healthcare for your team? Follow us on LinkedIn and get our top enterprise promotions.</p>
            <div class="wrapper">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <h5 style="text-align:center;"><a href="http://www.linkedin.com"><i class="fa fa-3x fa-linkedin-square"></i></a></h5>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\twitter.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Twitter</h5>
            <p class="card-text">Wanna stay ahead and know what's new in the healthcare world? Follow us on Twitter where we have new posts everyday.</p>
            <div class="wrapper">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <h5 style="text-align:center;"> <a href="http://www.twitter.com"><i class="fa fa-3x fa-twitter-square"></i></a></h5>
            </div>
        </div>
    </div>
</div>
<p> </p>
<div>
    <h2 style="text-align:center;">Location</h2>
</div>
<p> </p>
<hr />
<div class="d-none d-sm-block mb-5 pb-4">
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1100" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=isep&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">pirate bay</a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 1100px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 1100px;
            }
        </style>
    </div>
</div>