@{
    ViewBag.Title = "Health";
}



<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="\assets\img\smoothies.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">4 smoothies to stay in shape <span class="badge badge-primary">New</span></h5>
            <p class="card-text">There is no reason not to invest in smart, protein-rich snacks that will help you achieve your training goals and increase energy. The top 4 smoothies that we ...</p>
            <p class="card-text"><small class="text-muted">Last updated 1 minute ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\ronaldoabs.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ronaldo's diet to be in shape</h5>
            <p class="card-text">Despite being about to turn 35, these are Cristiano Ronaldo's secrets to continue to gain muscle and stay in shape. He begins in journey with a jogging of 10 minutes and ...</p>
            <p class="card-text"><small class="text-muted">Last updated 1 day ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\ansiety.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Foods that help fight anxiety</h5>
            <p class="card-text">One of the symptoms of anxiety is usually related to the reduction of the blood sugar level and that is why you should always have some healthy snacks nearby ...</p>
            <p class="card-text"><small class="text-muted">Last updated 2 days ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
</div>
<p> </p>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Health">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp3">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp2">Next</a>
        </li>
    </ul>
</nav>