@{
    ViewBag.Title = "Health";
}


<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="\assets\img\gladiatores.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Roman gladiators' diet for more strength</h5>
            <p class="card-text">Study reveals what gladiators ate to be stronger in fights. And the researchers' discovery is unbelievable.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 hour ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\coffee.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Foods that give you more energy than coffee</h5>
            <p class="card-text">Say goodbye to tiredness, improve your performance with some of the most energetic foods out there - and forget ...</p>
            <p class="card-text"><small class="text-muted">Last updated 5 day ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="\assets\img\protein.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The right amount of protein to eat every day</h5>
            <p class="card-text">Chicken breast is an excellent option, but if you eat more than you should, it won't be strong: it will be fat! This is the ideal ...</p>
            <p class="card-text"><small class="text-muted">Last updated 1 week ago</small> <a href="Login" class="btn btn-info">Read More</a> </p>
        </div>
    </div>
</div>
<p> </p>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Health">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Health">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp3">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-area="" asp-controller="Home" asp-action="Healthp3">Next</a>
        </li>
    </ul>
</nav>